_build.*
.sconsign.dblite
.sconf_temp
*.dylib
*.o
*.os
*.so
*.cfgc
*.pyc
.cache
.coverage
.pytest_cache
pytest_session.txt
.coverage
config.log
doc/*.tag
doc/*.inc
doc/html
doc/xml
doc/doxygen.conf
examples/transform
tests/.tests
tests/.cache
tests/test_polynomials
tests/test_coordinates
tests/test_spherePoint
version.py
